
body, html{

    font-family: 'Raleway','sans-serif';
    color:#777;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;


}

.intro{
    display: table;
    width: 100%;
    padding: 0;
    background: url('../img/main.jpg') no-repeat center center;
    background-color: #e5e5e5;
    background-size: cover;
    
}

.intro .overlay{
    background:rgba(0,0,0,0.4);
}

.intro h1{
    font-family: 'Lucida Calligraphy',cursive;
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.intro p{
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 40px;
}

header .intro-text{
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
}

#about{
    padding: 120px 0;
}

#about h3{
    font-size: 20px;
}
#about .about-text{
    margin-left: 10px;
}

#about .about-img{
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

#about .about-img:before{
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px solid rgb(255,255,255,.05);
}

#about p{
    line-height: 24px;
    margin: 15px 0 30px;
}