
body, html{

    font-family: 'Raleway','sans-serif';
    color:#777;
    font-weight: 300;
    width: 100% !important;
    height: 100% !important;


}

.intro{
    display: table;
    width: 100%;
    padding: 0;
    background: url('../img/main.jpg') no-repeat center center;
    background-color: #e5e5e5;
    background-size: cover;
    
}

.intro .overlay{
    background:rgba(0,0,0,0.4);
}

.intro h1{
    font-family: 'Lucida Calligraphy',cursive;
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
}

.intro p{
    color: #fff;
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 40px;
}

header .intro-text{
    padding-top: 250px;
    padding-bottom: 200px;
    text-align: center;
}

#about{
    padding: 120px 0;
}

#about h3{
    font-size: 20px;
}
#about .about-text{
    margin-left: 10px;
}

#about .about-img{
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
}

#about .about-img:before{
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    border: 1px solid rgb(255,255,255,.05);
}

#about p{
    line-height: 24px;
    margin: 15px 0 30px;
}

#restaurant-menu{
    padding: 0 0 60px 0;

}

#restaurant-menu .section-title{
    background: #444 url() center center no-repeat fixed;
    background-size: cover;
}

#restaurant-menu .section-title h2{
    color: #fff;
}

#restaurant-menu .menu-section{
    margin: 0 20px 80px;
}

#restaurant-menu .menu-section hr{
    margin: 0 auto;
}

#restaurant-menu .menu-section-title{
    font-size: 25px;
    display: block;
    font-weight: 500;
    color: #444;
    margin: 20px 0;
    text-align: center;
}

#restaurant-menu .menu-item{
    margin:35px 0;
    font-size: 17px;
}

#restaurant-menu .menu-item-name{
    font-weight: 600;
    font-size: 16px;
    color: #555;
    border-bottom: 2px dotted rgb(213,213,213);
}

#restaurant-menu .menu-item-description {
    font-style: italic;
    font-size: 15px;
}

#restaurant-menu .menu-item-price {
    float: right;
    font-weight: 600;
    color: #555;
    margin-top: -25px;
}
